<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="WlscrmThreadMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <resultMap id="BaseResultMap" type="WlscrmThread">
        <id column="TIME" property="time" jdbcType="TIMESTAMP"/>
        <id column="IP" property="ip" jdbcType="VARCHAR"/>
        <id column="PORT" property="port" jdbcType="VARCHAR"/>
        <result column="THREADTOTAL" property="threadtotal" jdbcType="DECIMAL"/>
        <result column="THREADIDLE" property="threadidle" jdbcType="DECIMAL"/>
        <result column="THREADSTANDBY" property="threadstandby" jdbcType="DECIMAL"/>
        <result column="THREADRUN" property="threadrun" jdbcType="DECIMAL"/>
    </resultMap>

    <!--计数CRM-APP-->
    <select id="countcrm" resultType="java.lang.Integer"  parameterType="java.util.List">
        SELECT count(1)
        FROM
        ZCJ_WLSCRM_SERVERS svr,
        ZCJ_WLSCRM_MARK trd,
        ZCJ_SHSNC_RADIOS rds
        WHERE
        svr.IP = trd.IP
        AND svr.PORT = trd.PORT
        AND rds.NAME = svr.APP
        AND svr.APP
        IN
        <foreach collection="list" item="app" index="index" open="(" separator="," close=")">
            #{app}
        </foreach>
        AND svr.SERVER != 'AdminServer'
        AND (trd.threadrun &gt;=10 OR trd.threadrun = -1 )
        AND trd.TIME &gt;= to_date(to_char(sysdate - 1 / 24 / 60, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')
        AND trd.TIME &lt;= to_date(to_char(sysdate , 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')
    </select>

    <!--计数OSB-->
    <select id="countosb" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(1)
        FROM zcj_wlscrm_servers svr,
            ZCJ_WLSCRM_MARK trd,
            zcj_shsnc_radios rds
        WHERE svr.IP = trd.IP
              AND svr.PORT = trd.PORT
              AND rds.NAME = svr.APP
              AND svr.MODULE = #{module}
              AND (trd.threadrun &gt;= 10 OR trd.threadrun = -1)
              AND trd.TIME &gt;= to_date(to_char(sysdate - 1 / 24 / 60, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')
              AND trd.TIME &lt;= to_date(to_char(sysdate, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')

    </select>

    <!--查询CRM-APP的数据-->
    <select id="findHistoryCrm" resultType="Bean"  parameterType="java.util.List">
        SELECT
        svr.APP,
        svr.MODULE,
        svr.THREADTHRESHOLD,
        svr.IP,
        svr.PORT,
        svr.SERVER,
        trd.THREADTOTAL,
        trd.THREADIDLE,
        trd.THREADRUN,
        rds.VALUE,
        rds.SYSTEM,
        rds.NAME
        FROM ZCJ_WLSCRM_SERVERS svr, ZCJ_WLSCRM_MARK trd, ZCJ_SHSNC_RADIOS rds
        WHERE svr.IP = trd.IP
        AND svr.PORT = trd.PORT
        AND rds.NAME = svr.APP
        AND svr.APP
        IN
        <foreach collection="list" item="app" index="index" open="(" separator="," close=")">
            #{app}
        </foreach>
        AND svr.SERVER != 'AdminServer'
        AND (trd.threadrun &gt;=10 OR trd.threadrun = -1 )
        AND trd.TIME &gt;= to_date(to_char(sysdate - 1 / 24 / 60, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')
        AND trd.TIME &lt;= to_date(to_char(sysdate , 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')

    </select>

    <!--查询OSB的数据-->
    <select id="findHistoryOsb" resultType="Bean" parameterType="java.lang.String">
        SELECT
            svr.APP,
            svr.MODULE,
            svr.THREADTHRESHOLD,
            svr.IP,
            svr.PORT,
            svr.SERVER,
            trd.THREADTOTAL,
            trd.THREADIDLE,
            trd.THREADRUN,
            rds.VALUE,
            rds.SYSTEM,
            rds.NAME
        FROM zcj_wlscrm_servers svr,
            ZCJ_WLSCRM_MARK trd,
            zcj_shsnc_radios rds
        WHERE svr.IP = trd.IP
              AND svr.PORT = trd.PORT
              AND rds.NAME = svr.APP
              AND svr.MODULE = #{module}
              AND (trd.threadrun &gt;= 10 OR trd.threadrun = -1)
              AND trd.TIME &gt;= to_date(to_char(sysdate - 1 / 24 / 60, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')
              AND trd.TIME &lt;= to_date(to_char(sysdate, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')
    </select>

    <!--历史信息-->
    <select id="history" resultType="WlscrmThread" parameterType="java.util.Map">
        SELECT *
        FROM ZCJ_WLSCRM_MARK trd
        WHERE trd.IP = #{ip} AND trd.PORT = #{port}
              AND trd.TIME &gt;= to_date(to_char(sysdate - 180 / 24 / 60, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')
              AND trd.time &lt;= to_date(to_char(sysdate, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')
              ORDER BY trd.TIME ASC
    </select>

    <select id="countHistory" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT count(1)
        FROM ZCJ_WLSCRM_MARK trd
        WHERE trd.IP = #{ip} AND trd.PORT = #{port}
              AND trd.TIME &gt;= to_date(to_char(sysdate - 180 / 24 / 60, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')
              AND trd.time &lt;= to_date(to_char(sysdate, 'yyyy-mm-dd hh24:mi:ss'), 'yyyy-mm-dd hh24:mi:ss')

    </select>
</mapper>