<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/><!-- 全局映射器启用缓存 -->
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="BATCH"/>
        <setting name="aggressiveLazyLoading" value="false"/><!--设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指定)，不会加载关联表的所有字段，以提高性能 -->
        <setting name="jdbcTypeForNull" value="NULL"/><!-- 设置但JDBC类型为空时,某些驱动程序要指定值,default: OTHER-->
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/><!--设置触发延迟加载的方法-->
        <setting name="lazyLoadingEnabled" value="true"/><!--是否使用懒加载关联对象-->
    </settings>

    <typeAliases>
        <!--用户模块-->
        <typeAlias type="com.shsnc.entity.system.User" alias="User"/>
        <typeAlias type="com.shsnc.entity.system.Role" alias="Role"/>
        <typeAlias type="com.shsnc.entity.system.Radios" alias="Radios"/>
        <typeAlias type="com.shsnc.entity.system.Privilege" alias="Privilege"/>
        <typeAlias type="com.shsnc.entity.system.RolePrivilegeKey" alias="RolePrivilegeKey"/>
        <typeAlias type="com.shsnc.entity.system.UserRoleKey" alias="UserRoleKey"/>
        <!--用户模块 结束-->
        <!--weblogic模块-->
        <typeAlias type="com.shsnc.entity.system.WlscrmServers" alias="WlscrmServers"/>
        <typeAlias type="com.shsnc.entity.system.WlscrmThread" alias="WlscrmThread"/>
        <typeAlias type="com.shsnc.entity.system.WlscrmMark" alias="WlscrmMark"/>
        <typeAlias type="com.shsnc.entity.system.MonRecordDatasource" alias="MonRecordDatasource"/>

        <!--结束-->

        <typeAlias type="com.shsnc.entity.system.Bean" alias="Bean"/>
        <typeAlias type="com.shsnc.util.pager.Pager" alias="pager"/>
    </typeAliases>


</configuration>