<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PrivilegeMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

    <resultMap id="p" type="Privilege">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PARENTID" property="parentid" jdbcType="VARCHAR"/>
        <result column="STATS" property="stats" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询记录数-->
    <select id="count" resultType="java.lang.Integer">
        SELECT count(1)
        FROM ZCJ_SHSNC_PRIVILEGE
    </select>
    <!--查询所有权限信息-->
    <select id="findAll" resultMap="p" >
        SELECT
            P.ID,
            P.NAME,
            P.URL,
            p.PARENTID,
            p.STATS
        FROM ZCJ_SHSNC_PRIVILEGE P ORDER BY p.ID ASC
    </select>

</mapper>