<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RolePrivilegeMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

    <resultMap id="rp" type="RolePrivilegeKey">
        <id column="PRIVILEGEID" property="privilegeid" jdbcType="VARCHAR"/>
        <id column="ROLEID" property="roleid" jdbcType="VARCHAR"/>
    </resultMap>


    <!--根据id查询出所有数据-->
    <select id="findByRoleId" parameterType="java.lang.String" resultType="RolePrivilegeKey">
        SELECT *
        FROM ZCJ_SHSNC_ROLE_PRIVILEGE
        WHERE ROLEID = #{roleid}
    </select>

    <!--删除-->
    <delete id="del" parameterType="java.lang.String">
        DELETE FROM ZCJ_SHSNC_ROLE_PRIVILEGE
        WHERE ROLEID = #{roleid}
    </delete>

    <!--添加数据-->
    <insert id="save" parameterType="RolePrivilegeKey">
        INSERT INTO ZCJ_SHSNC_ROLE_PRIVILEGE (ROLEID, PRIVILEGEID) VALUES (#{roleid}, #{privilegeid})
    </insert>

    <!--查询出所有的信息-->
    <select id="findKey" resultType="RolePrivilegeKey">
        SELECT *
        FROM ZCJ_SHSNC_ROLE_PRIVILEGE
    </select>
</mapper>